@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300&display=swap");

* {
  font-family: "Inter", sans-serif;
}

body {
  background: #f9fafa;
  height: 70vh;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

header {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.intro {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}

.yellow-dot {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: orange;
  box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.25);
}

.intro a {
  text-decoration: none;
  color: black;
}

.intro h2 {
  border-radius: 10%;
  padding: 0 10px;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.menu-icon {
  display: none;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0 5px;
}

.nav-links a.active {
  color: burlywood;
}

.nav-links .p-style {
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 0 10px;
  margin: 0 10px;
}

.main-con {
  width: 90%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 100px;
  padding-left: 70px;
  padding-top: 70px;
}

.img-con2 {
  position: relative;
  width: 500px;
  height: 500px;
  animation: appear 1s linear;
}

.dev-sym-con {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: blueviolet;
  position: absolute;
  bottom: -1%;
  left: 60%;
}

.dev-sym {
  font-family: sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: white;
}

.main-con img {
  border-radius: 50%;
}

@media (max-width: 1160px) {
  body {
    background: #f9fafa;
    height: 75vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .main-con {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-top: 70px;
  }

  .text-con,
  .text-con p {
    width: 400px;
  }
}

@media (max-width: 1060px) {
  body {
    height: 140vh;
  }

  .main-con {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  body {
    background: #f9fafa;
    height: 110vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .main-con {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 100px;
    padding-left: 50px;
    padding-top: 70px;
  }

  .img-con2,
  .img-con2 img {
    width: 400px;
    height: 400px;
  }

  .dev-sym-con {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: blueviolet;
    position: absolute;
    bottom: -1%;
    left: 60%;
  }

  .dev-sym {
    font-size: 3em;
    font-weight: bold;
    color: white;
  }

  .text-con,
  .text-con p {
    width: 400px;
  }
}

@media (max-width: 450px) {
  .main-con {
    padding-left: 0;
    margin-left: 30px;
    width: 200px;
    height: 700px;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f9fafa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
  }

  .sidebar .menu-icon {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20px;
  }

  .nav-links {
    display: block;
    flex-direction: column;
    align-items: start;
  }

  .nav-links .active {
    display: flex;
  }

  .nav-links .p-style {
    border: none;
    margin: 10px 0;
    padding: 0;
  }

  .img-con2,
  .img-con2 img {
    width: 300px;
    height: 300px;
  }

  .dev-sym-con {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: blueviolet;
    position: absolute;
    bottom: -1%;
    left: 60%;
  }

  .dev-sym {
    font-size: 3em;
    font-weight: bold;
    color: white;
  }

  .text-con,
  .text-con p {
    width: 300px;
  }
}

@media (max-width: 385px) {
  div.text-con,
  div.img-con {
    width: 100%;
    max-width: 100vw;
  }
}

.text-con {
  width: 500px;
}

.text-con h1 {
  font-size: 100px;
  margin-bottom: 0;
  animation: appear 1.2s linear;
}

.text-con h2 {
  animation: appear 1.5s linear;
}

.text-con p {
  font-size: 18px;
  animation: appear 1.8s linear;
}

.stack {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stack img {
  width: 70px;
  height: 70px;
}

.main-contact {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-cred {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.name-box,
.email-box {
  width: 300px;
  height: 30px;
  background: transparent;
  border: 1px solid grey;
}

.contact-int {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.phone-box,
.int-box {
  width: 306px;
  height: 34px;
  background: transparent;
  border: 1px solid grey;
}

.contact-mes {
  width: 100%;
}

.msg-box {
  padding: 0;
  width: 99.99%;
  height: 100px;
  background: transparent;
  border: 1px solid grey;
}

.msg-box::placeholder {
  padding-left: 5px;
}

.contact-sub {
  width: 350px;
  height: 40px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 1060px) {
  .main-contact {
    height: 70%;
  }
}

@media (max-width: 670px) {
  body {
    height: 150vh;
  }

  .contact-con h1 {
    width: 400px;
  }

  .contact-cred {
    flex-direction: column;
  }

  .contact-int {
    flex-direction: column;
  }
}

main {
  display: flex;
  justify-content: center;
}

.resume-con {
  width: auto;
  height: auto;
  background-color: whitesmoke;
  margin-bottom: 50px;
  box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
  border-radius: 10px;
}

.aut-info {
  position: relative;
}

.aut-abt {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.aut-abt h1 {
  padding: 0;
  margin: 0;
  font-size: 50px;
}

.aut-abt h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

.yellow-dot2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: yellow;
  position: absolute;
  left: 2%;
  top: 15%;
}

.auth-pro {
  position: absolute;
  top: 20%;
  left: 7%;
}

.aut-con {
  width: 600px;
  border-top: 2px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  right: 8%;
  top: 56%;
  padding-top: 10px;
}

.aut-con h3,
p {
  padding: 0;
  margin: 0;
}

.aut-con img {
  margin-right: 10px;
  border-bottom: 3px solid grey;
}

.phone-con,
.email-con,
.website-con {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.resume-aut {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.add-con {
  width: 900px;
  display: flex;
  flex-direction: row;
  padding-left: 75px;
  margin-top: 40px;
}

.addr-des {
  display: flex;
  flex-direction: row;
  margin-top: 7px;
}

.addr-con {
}

.addr-con h2 {
  display: inline-block;
  border-bottom: 2px solid black;
  margin: 0;
  padding-bottom: 10px;
}

.addr-con p {
  width: 150px;
  margin-top: 10px;
}

.pro-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 40px 0 85px;
}

.prof-bac {
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
  width: 100px;
  height: 10px;
  margin-bottom: 20px;
  padding: 0 20px 0 10px;
}

.pro-img h2 {
  padding: 0;
  margin: 0;
}

.aut-p p {
  width: 430px;
  display: flex;
  align-items: center;
}

.wrk-exp {
  display: flex;
  flex-direction: row;
  padding-left: 75px;
  margin-top: 40px;
}

.wrk-tag {
  width: 115px;
}

.wrk-tag h2 {
  border-bottom: 2px solid black;
  display: inline-block;
  padding-bottom: 10px;
}

.wrk-des {
  margin-top: 30px;
}

.wrk-1,
.wrk-2 {
  display: flex;
  flex-direction: row;
}

.jb-1 {
  margin: 0 55px 0 119px;
  border-top: 2px solid black;
}

.jb-1-des {
  border-top: 2px solid black;
  width: 430px;
}

.jb-2-des {
  width: 430px;
}

.jb-2 {
  margin: 0 55px 0 119px;
}

.ed-des {
  display: flex;
  flex-direction: row;
  padding-left: 75px;
  margin-top: 40px;
}

.ed-tag h2 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.ed-inst {
  margin-top: 30px;
}

.ed-1,
.ed-2 {
  display: flex;
  flex-direction: row;
}

.ed-det1 {
  margin: 0 22px 0 128px;
  width: 150px;
  border-top: 2px solid black;
}

.ed-det2 {
  margin: 0 22px 0 128px;
  width: 150px;
}

.ed-cou1 {
  border-top: 2px solid black;
  width: 430px;
}

.ed-cou2 {
  width: 430px;
}

.skll-con {
  display: flex;
  flex-direction: row;
  padding-left: 75px;
  margin-top: 40px;
}

.skll-tag h2 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.skll-att {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.per-skll {
  margin: 0 69px 0 177px;
  border-top: 2px solid black;
}

.pro-skll {
  border-top: 2px solid black;
}

.int-con {
  display: flex;
  flex-direction: row;
  padding-left: 75px;
  margin-top: 40px;
}

.int-tag {
  margin-right: 151px;
}

.int-tag h2 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.int-icn {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  padding-top: 10px;
  margin-top: 27px;
}

.icn1-con,
.icn2-con,
.icn3-con,
.icn4-con,
.icn5-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bic-icn,
.hed-icn,
.pho-icn,
.soc-icn,
.blo-icn {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.ref-con {
  display: flex;
  flex-direction: row;
  padding-left: 75px;
  margin-top: 40px;
}

.ref-tag h2 {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.ref-vou {
  display: flex;
  flex-direction: row;
  margin: 30px 0;
}

.ref1,
.ref2 {
  width: 150px;
  margin: 0 22px 0 120px;
  border-top: 2px solid black;
}

@media (max-width: 1238px) {
  .resume-con {
    border-radius: 10px;
    height: auto;
  }

  .aut-abt h1 {
    font-size: 40px;
  }

  .aut-abt h2 {
    font-size: 20px;
  }

  .yellow-dot2 {
    width: 100px;
    height: 100px;
  }

  .aut-con {
    width: 550px;
  }

  .aut-con h3,
  .aut-con p {
    font-size: 15px;
  }

  .addr-con h2 {
    font-size: 19px;
  }

  .addr-con p {
    font-size: 14px;
  }

  .pro-img h2 {
    font-size: 19px;
  }

  .aut-p p {
    width: 400px;
  }

  .wrk-tag h2 {
    font-size: 19px;
  }

  .wrk-1 h2,
  .wrk-2 h2 {
    font-size: 19px;
  }

  .ed-tag h2 {
    font-size: 19px;
  }

  .ed-det1 {
    margin: 0 22px 0 150px;
  }

  .ed-det2 {
    margin: 0 22px 0 150px;
  }

  .ed-det1 h2,
  .ed-det2 h2 {
    font-size: 19px;
  }

  .ed-cou1 h2,
  .ed-cou2 h2 {
    font-size: 19px;
  }

  .skll-tag h2 {
    font-size: 19px;
  }

  .per-skll {
    margin: 0 69px 0 190px;
  }

  .per-skll h2,
  .pro-skll h2 {
    font-size: 19px;
  }

  .int-tag {
    margin-right: 171px;
  }

  .int-tag h2 {
    font-size: 19px;
  }

  .ref-tag h2 {
    font-size: 19px;
  }

  .ref1 {
    margin: 0 22px 0 145px;
  }

  .ref1 h2,
  .ref2 h2 {
    font-size: 19px;
  }
}

@media (max-width: 1160px) {
  .resume-con {
    width: 80%;
    height: auto;
    margin-bottom: 50px;
    border-radius: 10px;
  }

  .aut-con {
    width: 300px;
    height: 150px;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    right: 15%;
    top: 18%;
  }

  .add-con {
    width: 900px;
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    margin-top: 40px;
  }

  .addr-des {
    margin-top: 40px;
  }

  .addr-con h2 {
    width: 760px;
    font-size: 19px;
  }

  .addr-con p {
    font-size: 14px;
  }

  .pro-img {
    margin: 0 290px 0 0;
  }

  .pro-img h2 {
    font-size: 19px;
  }

  .aut-p p {
    width: 300px;
  }

  .wrk-exp {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    margin-top: 40px;
  }

  .wrk-tag h2 {
    width: 760px;
    font-size: 19px;
  }

  .wrk-1 h2,
  .wrk-2 h2 {
    font-size: 19px;
  }

  .jb-1,
  .jb-2 {
    margin: 0 305px 0 0;
    border: none;
  }

  .jb-1-des {
    border: none;
  }

  .jb-1-des p,
  .jb-2-des p,
  .ed-cou1 p,
  .ed-cou2 p {
    width: 300px;
  }

  .ed-des {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    margin-top: 40px;
  }

  .ed-tag h2 {
    width: 760px;
    font-size: 19px;
  }

  .ed-det1,
  .ed-det2 {
    border: none;
    margin: 0 270px 0 0;
  }

  .ed-det1 h2,
  .ed-det2 h2 {
    font-size: 19px;
  }

  .ed-cou1 {
    border: none;
  }

  .ed-cou1 h2,
  .ed-cou2 h2 {
    font-size: 19px;
  }

  .skll-con {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    margin-top: 40px;
  }

  .skll-tag h2 {
    width: 760px;
    font-size: 19px;
  }

  .per-skll {
    border: none;
    margin: 0 320px 0 0;
  }

  .pro-skll {
    border: none;
  }

  .per-skll h2,
  .pro-skll h2 {
    font-size: 19px;
  }

  .int-tag {
    width: 0;
    height: 0;
    margin-right: 0;
  }

  .int-tag h2 {
    width: 760px;
    font-size: 19px;
  }

  .int-icn {
    width: 600px;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding: 0px;
    border: none;
  }

  .ref-con {
    display: flex;
    flex-direction: column;
    padding-left: 75px;
    margin-top: 40px;
  }

  .ref-tag h2 {
    width: 760px;
    font-size: 19px;
  }

  .ref1,
  .ref2 {
    border: none;
    margin: 0 270px 0 0;
  }

  .ref1 h2 {
    font-size: 19px;
  }
}

@media (max-width: 1064px) {
  .resume-con {
    border-radius: 10px;
  }

  .addr-con h2 {
    width: 720px;
  }

  .wrk-tag h2 {
    width: 720px;
  }

  .ed-tag h2 {
    width: 720px;
  }

  .skll-tag h2 {
    width: 720px;
  }

  .int-tag {
    width: 0;
  }

  .int-tag h2 {
    width: 720px;
  }

  .ref-tag h2 {
    width: 720px;
  }
}

@media (max-width: 1015px) {
  .resume-con {
    border-radius: 10px;
  }

  .addr-con h2 {
    width: 650px;
  }

  .pro-img {
    margin: 0 200px 0 0;
  }

  .wrk-tag h2 {
    width: 650px;
  }

  .jb-1,
  .jb-2 {
    margin: 0 215px 0 0;
  }

  .ed-tag h2 {
    width: 650px;
  }

  .ed-det1,
  .ed-det2 {
    margin: 0 180px 0 0;
  }

  .skll-tag h2 {
    width: 650px;
  }

  .per-skll {
    margin: 0 228px 0 0;
  }

  .int-tag h2 {
    width: 650px;
  }

  .ref-tag h2 {
    width: 650px;
  }

  .ref1 {
    margin: 0 180px 0 0;
  }
}

@media (max-width: 925px) {
  .resume-con {
    height: auto;
    border-radius: 10px;
  }

  .addr-con h2 {
    width: 580px;
  }

  .pro-img {
    margin: 0 113px 0 0;
  }

  .wrk-tag h2 {
    width: 580px;
  }

  .jb-1,
  .jb-2 {
    margin: 0 130px 0 0;
  }

  .ed-tag h2 {
    width: 580px;
  }

  .ed-det1,
  .ed-det2 {
    margin: 0 95px 0 0;
  }

  .skll-tag h2 {
    width: 580px;
  }

  .per-skll {
    margin: 0 145px 0 0;
  }

  .int-tag h2 {
    width: 580px;
  }

  .int-icn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
  }

  .icn5-con {
    text-align: center;
  }

  .ref-tag h2 {
    width: 580px;
  }

  .ref1 {
    margin: 0 100px 0 0;
  }
}

@media (max-width: 900px) {
  .resume-con {
    height: auto;
    border-radius: 10px;
  }

  .aut-info {
    height: 400px;
  }

  .aut-con {
    position: static;
    margin-left: 75px;
    padding-top: 0;
  }
}

@media (max-width: 838px) {
  .resume-con {
    height: auto;
    border-radius: 10px;
  }

  .addr-des {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
  }

  .addr-con h2 {
    width: 520px;
  }

  .pro-img {
    margin: 20px 0 10px 0;
    display: inline-block;
  }

  .wrk-tag h2 {
    width: 520px;
  }

  .wrk-1,
  .wrk-2 {
    display: flex;
    flex-direction: column;
  }

  .ed-tag h2 {
    width: 520px;
  }

  .ed-1,
  .ed-2 {
    display: flex;
    flex-direction: column;
  }

  .skll-tag h2 {
    width: 520px;
  }

  .skll-att {
    display: flex;
    flex-direction: column;
  }

  .int-tag h2 {
    width: 520px;
  }

  .int-icn {
    border: none;
    margin: 100px 0 0 0;
    padding: 0;
  }

  .ref-tag h2 {
    width: 520px;
  }

  .ref-vou {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 769px) {
  .resume-con {
    border-radius: 10px;
  }

  .addr-con h2 {
    width: 455px;
  }

  .wrk-tag h2 {
    width: 455px;
  }

  .ed-tag h2 {
    width: 455px;
  }

  .skll-tag h2 {
    width: 455px;
  }

  .int-tag h2 {
    width: 455px;
  }

  .ref-tag h2 {
    width: 455px;
  }
}

@media (max-width: 689px) {
  .resume-con {
    border-radius: 10px;
  }

  .addr-con h2 {
    width: 390px;
  }

  .wrk-tag h2 {
    width: 390px;
  }

  .ed-tag h2 {
    width: 390px;
  }

  .skll-tag h2 {
    width: 390px;
  }

  .int-tag h2 {
    width: 390px;
  }

  .ref-tag h2 {
    width: 390px;
  }
}

@media (max-width: 605px) {
  .resume-con {
    border-radius: 10px;
  }

  .addr-con h2 {
    width: 330px;
  }

  .wrk-tag h2 {
    width: 330px;
  }

  .ed-tag h2 {
    width: 330px;
  }

  .skll-tag h2 {
    width: 330px;
  }

  .int-tag h2 {
    width: 330px;
  }

  .ref-tag h2 {
    width: 330px;
  }
}

@media (max-width: 530px) {
  .resume-con {
    border-radius: 10px;
  }

  .addr-con h2 {
    width: 270px;
  }

  .aut-p p {
    width: 250px;
  }

  .wrk-tag h2 {
    width: 270px;
  }

  .ed-tag h2 {
    width: 270px;
  }

  .jb-1-des p,
  .jb-2-des p,
  .ed-cou1 p,
  .ed-cou2 p {
    width: 250px;
  }

  .skll-tag h2 {
    width: 270px;
  }

  .int-tag h2 {
    width: 270px;
  }

  .ref-tag h2 {
    width: 270px;
  }
}

@media (max-width: 385px) {
  header,
  .main-contact {
    width: 100%;
    max-width: 100vw;
  }

  .addr-con h2 {
    width: 250px;
  }

  .wrk-tag h2 {
    width: 250px;
  }

  .ed-tag h2 {
    width: 250px;
  }

  .skll-tag h2 {
    width: 250px;
  }

  .int-tag h2 {
    width: 250px;
  }

  .ref-tag h2 {
    width: 250px;
  }

  .text-con h1 {
    font-size: 80px;
  }

  .contact-cred label,
  .contact-int label,
  .contact-mes label {
    margin-left: 10px;
  }

  .contact-sub {
    margin-left: 10px;
    width: 300px;
  }

  .name-box,
  .email-box,
  .int-box,
  .phone-box,
  .msg-box {
    width: 300px;
    margin-left: 10px;
  }

  .auth-pro h1 {
    font-size: 38px;
  }

  div.add-con,
  div.contact-con,
  div.wrk-exp,
  div.ed-des,
  div.skll-con,
  div.int-con,
  div.ref-con {
    padding: 0 0 0 20px;
    width: 100%;
    max-width: 100vw;
  }

  div.jb-1-des,
  div.jb-2-des,
  div.ed-cou1,
  div.ed-cou2 {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100vw;
  }

  div.aut-con {
    padding: 0 0 0 20px;
    margin: 0;
    width: 100%;
    max-width: 100vw;
  }

  div.int-icn {
    width: 100%;
    max-width: 100vw;
  }

  .icn1-con,
  .icn2-con,
  .icn3-con,
  .icn4-con,
  .icn5-con {
    width: 100px;
    margin: 0 40px 10px 0;
  }

  .c-header {
    width: 300px;
  }

  .contact-con h1 {
    width: 100%;
    max-width: 100vw;
    font-size: 25px;
    margin-left: 10px;
  }

  div.yellow-dot2 {
    width: 85px;
    height: 85px;
  }

  .pr-1 button,
  .pr-2 button,
  .pr-3 button,
  .pr-4 button {
    margin: auto;
  }
}

#projects {
  padding-left: 20px;
  margin: 0 0 50px 0;
}

.pr-1,
.pr-2,
.pr-3,
.pr-4 {
  width: 380px;
  height: 380px;
  background-color: whitesmoke;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(85, 63, 240, 0.25);
}

.pr-1 a,
.pr-2 a,
.pr-3 a,
.pr-4 a {
  text-decoration: none;
  color: black;
}

.pr-sec {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pr-sec button {
  background: transparent;
  cursor: pointer;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 10px;
}

#projects h1 {
  font-size: 80px;
  text-align: center;
}

@media (max-width: 1185px) {
  .pr-sec {
    grid-template-columns: 1fr 1fr;
    width: 800px;
    margin-left: 150px;
  }
}

@media (max-width: 970px) {
  .pr-sec {
    grid-template-columns: 1fr;
    width: 400px;
    margin-left: 300px;
  }
}

@media (max-width: 720px) {
  .pr-sec {
    margin-left: 30px;
  }
}

#review-section {
  padding: 100px 0;
}

.rev-head {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.rev-head h1 {
  font-size: 70px;
}

.usr-rev1,
.usr-rev2,
.usr-rev3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.rev-img1 img,
.rev-img2 img,
.rev-img3 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.rev-text1,
.rev-text2,
.rev-text3 {
  display: flex;
  align-items: center;
  width: 200px;
  height: 200px;
}

.rev-text1 blockquote,
.rev-text2 blockquote,
.rev-text3 blockquote {
  font-size: 18px;
}

@media (max-width: 635px) {
  .rev-head {
    padding-left: 50px;
    width: 400px;
  }

  .usr-rev1,
  .usr-rev2,
  .usr-rev3 {
    padding-left: 25px;
  }
}

@media (max-width: 385px) {
  #projects h1 {
    font-size: 60px;
  }

  div.pr-sec,
  div.rev-head,
  div.rev-text1 {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100vw;
  }

  div.rev-text2,
  div.rev-text3 {
    width: 185px;
    max-width: 100vw;
  }

  blockquote {
    width: 100%;
    max-width: 100vw;
  }

  .pr-1,
  .pr-2,
  .pr-3,
  .pr-4 {
    width: 320px;
    height: 350px;
  }

  .rev-head h1 {
    font-size: 40px;
  }

  .rev-img1 img,
  .rev-img2 img,
  .rev-img3 img {
    width: 150px;
    height: 150px;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 95%;
  height: 200px;
  border-top: 1px solid grey;
  margin: 0 30px;
  padding-top: 20px;
}

footer span {
  display: none;
}

.phone-details p,
.email-details p,
.copyright p {
  font-size: 18px;
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.icons a {
  transition: transform 0.4s ease;
}

.icons a:hover {
  transform: scale(1.1);
}

@media (max-width: 810px) {
  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    height: 200px;
    border-top: 1px solid grey;
    margin: 0 30px;
    padding-top: 20px;
  }

  footer span {
    display: contents;
  }

  .phone-details,
  .email-details,
  .socials-icons,
  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .phone-details h2,
  .email-details h2 {
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  body {
    background: #f9fafa;
    height: 130vh;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr;
    width: 95%;
    height: 200px;
    border-top: 1px solid grey;
    margin: 0 30px;
    padding-top: 20px;
  }

  footer span {
    display: contents;
  }

  .socials .icons {
    display: flex;
    width: 200px;
  }

  .icons {
    margin-bottom: 20px;
  }

  .phone-details,
  .email-details,
  .copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .socials-icons {
    display: flex;
    flex-direction: row;
  }

  .phone-details h2,
  .email-details h2 {
    margin-right: 20px;
  }
}

@media (max-width: 450px) {
  footer {
    margin-bottom: 100px;
    margin-top: 450px;
  }
}

@media (max-width: 385px) {
  footer {
    margin: 420px 5px 0 5px;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
